input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
input[type=submit], button {
    width: 100%;
    background-color: #4d4e83;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  #delete {
    width: 30%;
    background-color: #4d4e83;
    color: white;
    margin-left: 30%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.7;
  }

  .link {
    width: 100%;
    background-color: #4d4e83;
    color: white;
    list-style: none;
    pointer-events: none;        
    padding: 14px 20px;
    margin: 200px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #4d4e83;
  }
  
div {
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 15px;
}

#centerh {
  text-align:center;
}

#centerinfo {
  margin-left: 32%;
  color: #4d4e83;
}

#forcast {
 margin: 0px 0px;
 color: #4d4e83;
 text-align:center; 
 border: thick double #32a1ce;
}


#error {
  margin: 0px 0px;
  color: red;
  text-align:center; 
  /* border: thick double red; */
 }

#logout {
  border: 2px solid #4d4e83 ;
  background-color: white;
  color: black;
  padding: 11px 28px;
  font-size: 16px;
  width: 5%;
  cursor: pointer;
  border-color:  #4d4e83;
  color:  #4d4e83;
  float: right;
}

#movedown{
  margin-top: 50px;
  text-align:center; 
  color:  #4d4e83;
}

#tableview {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableview td, #tableview th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableview tr:nth-child(even){background-color: #f2f2f2;}

#tableview tr:hover {background-color: #ddd;}

#tableview th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4d4e83;
  color: white;
}